# name: "docker_init_20260121"
services:
  nginx:
    # 容器名称 -80默认值
    container_name: ${PROJECT_NAME:-80}_nginx
    image: nginx:alpine
    ports:
    # 容器外端口/里
      - "80:80"
    volumes:
      - ./nginx/html:/usr/share/nginx/html
      - ./nginx/conf/:/etc/nginx/
      - ./nginx/download:/usr/share/nginx/download
    restart: unless-stopped
    environment:
      - TZ=Asia/Shanghai  # 设置时区
    # 指向宿主机
    extra_hosts:
      - "host.docker.internal:host-gateway"  # Linux需要这行
    depends_on:
      - portainer
    networks:
      - portainer_network
      
  postgis:
    container_name: ${PROJECT_NAME:-postgis}_db
    image: postgis/postgis:17-3.5
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-server_example}
      POSTGRES_USER: ${POSTGRES_USER:-here}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-here940901}
      TZ: Asia/Shanghai
    volumes:
      # 将 PostgreSQL 数据目录挂载到宿主机 ./postgresql/data
      - ./postgresql/data:/var/lib/postgresql/data
      # 可选：初始化脚本目录
      - ./postgresql/init:/docker-entrypoint-initdb.d
    ports:
      - "15432:5432"
    networks:
      - portainer_network
  redis7:
    # 镜像版本号
    image: redis:7.2.4
    # 容器名
    container_name: redis7
    # 端口号
    ports:
      - "6379:6379"
    # 失败后总是重启
    restart: "always"
    # 以配置文件的方式启动 redis.conf
    command: "redis-server /etc/redis/redis.conf --appendonly yes"
    # 文件夹以及文件映射
    volumes:
      - ./redis/data:/data
      - ./redis/redis.conf:/etc/redis/redis.conf
  server_py:
    image: server_py:1.0.0
    container_name: server_py
    ports:
      - "8600:8600"
    volumes:
      - ./server_py/config.yaml:/app/config.yaml
      - ./server_py/config.dev.yaml:/app/config.dev.yaml
      - ./server_py/log:/app/log
      - ./server_py/temp:/app/temp
      - ./server_py/src:/app/src
      - ./server_py/source:/app/source
      - ./server_py/books:/app/books
    restart: "always"
    extra_hosts:
      - "host.docker.internal:host-gateway"
#   portainer:
#     container_name: portainer
#     image: portainer/portainer-ce:lts
#     restart: always
#     volumes:
#       - /var/run/docker.sock:/var/run/docker.sock
#       - portainer_data:/data
#     ports:
#       - "9000:9000"
#       - "8000:8000"  # 可选，用于 Edge Agents
#     networks:
#       - portainer_network
# # docker compose -f portainer-compose.yaml up -d
# # https://localhost:9443
